/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* CHANGES MAIN UI */
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #373a42;
  color: #ccc;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3em !important;
}

/* CHANGES RIBBON UI */
.cube-ribbon {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box;
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: auto;
  color: rgb(204, 0, 0);
  cursor: default;
  display: block;
  font-family: 'Sniglet', cursive;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  right: 0px;
  text-decoration-color: rgb(204, 0, 0);
  text-decoration-line: none;
  text-decoration-style: solid;
  top: 0px;
  z-index: 9999;
  text-indent: -9999px;
}

.cube-ribbon:before {
  content: "";
  padding: .38em 0;
  background-color: #4A4E58;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.15));
  box-shadow: 0 0.15em 0.23em 0 rgba(0, 0, 0, 0.5);
}

.cube-ribbon:after {
  content: attr(data-ribbon);
  color: #CCC;
  font: 700 1em 'Sniglet', cursive;
  line-height: 1.54em;
  text-decoration: none;
  text-shadow: 0 -0.08em rgba(0, 0, 0, 0.5);
  text-align: center;
  text-indent: 0;
  padding: .15em 0;
  margin: .15em 0;
  border-width: .08em 0;
  border-style: dotted;
  border-color: #CCC;
  border-color: rgba(204, 204, 204, 0.7);
}

.cube-ribbon:before,
.cube-ribbon:after {
  position: absolute;
  display: block;
  width: 15.38em;
  height: 1.54em;
  top: 3.23em;
  right: -3.23em;
  transform: rotate(45deg);
  box-sizing: content-box;
}

/* CHANGES LEVA UI */
[class^="leva-c"] {
  font-family: 'Sniglet', cursive;
}

[class^="leva-c"] button {
  color: #CCC !important;
  background-color: #373a42 !important;
}

[class*="leva-c-"][class$="isRoot-true"] > [class*="leva-c-PJLV"] {
  margin-top: 0 !important;
}

[class*="leva-c-jzsQCy"] {
  padding-bottom: 10px !important;
  margin-top: 0 !important;
}